nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 5 5 10px rgba(0, 0, 0, 0.1);
}
 
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #000000;
}

/* Stiluri pentru burger menu */
.burger {
    margin-top: 10px;
    position: fixed;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-right: 15px;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #1e1d1d;
        position: absolute;
        top: 100px; /* Poziționează meniul sub bara de navigare */
        left: 50%; /* Centrare pe axa X */
        transform: translateX(-50%); /* Corectează pentru a centra meniul */
        width: 90%; /* Ajustează lățimea meniului */
        height: 500px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    
    nav ul.show {
        display: flex;
        flex-direction: column;
    }
    
    .burger {
        display: flex;
        position: absolute;
        top: 10px;
        right: 15px;
        height: 40px;
    }

    .container {
        margin-left: 5%;
        margin-top: 5px;
    }

    body {
        padding-top: 120px; /* Lasă mai mult spațiu sub navbar */
    }

    .patrulatere-list {
        flex-direction: column; /* Patrulaterele se aliniază vertical pe ecrane mici */
        padding-top: 120px; /* Adaugă spațiu între navbar și patrulatere */
        margin-top: 30px;
    }

    .patrulater {
        width: auto; /* Setăm lățimea automată pentru patrulatere */
        margin-right: 0;
        margin-top: 5%;
    }

    .patrulater:hover {
        transform: none;
    }
}

/* Ajustarea globală pentru a preveni suprapunerea */
body {
    padding-top: 80px; /* Compensează înălțimea navbarului fix */
}

@media (max-width: 1080px) {
    body {
        padding-top: 120px; /* Spațiu suplimentar la ecrane mici */
    }
}

.patrulatere-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin-top: 100px;
    padding-top: 100px; /* Asigură un spațiu între navbar și patrulatere */
}

.patrulater {
    width: 250px;
    height: 250px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 30px;
    display: block;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.patrulater:hover {
    transform: scale(1.1);
}

.patrulater h3 {
    text-align: center;
    margin-top: 20px;
}

.patrulater img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Adăugată tranziție pentru culoare */
}

.patrulater {
    width: 250px;
    height: 250px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 30px;
    display: block;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Tranizitie pentru umbră */
}

.patrulater:hover {
    transform: scale(1.05); /* Scăderea scalei la hover */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5); /* Umbra mai pronunțată la hover */
}

@media (max-width: 768px) {
    .burger {
        display: flex;
        position: absolute;
        top: 15px; /* Ajustare pentru a oferi mai mult spațiu */
        right: 20px;
        height: 50px; /* Dimensiune mărită pentru a fi mai ușor de utilizat */
    }

    .patrulater {
        width: 90%; /* Face patrulaterele mai largi pe ecrane mici */
        max-width: 250px; /* Maximizăm lățimea pentru a preveni expansiunea prea mare */
        margin: 20px auto; /* Centrăm patrulaterele pe ecrane mici */
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px; /* Asigurăm o lățime maximă a containerului */
    padding: 0 20px; /* Adăugăm un padding pentru a evita coliziunile cu marginile ecranului */
}
