nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 5 5 10px rgba(0, 0, 0, 0.1);
}
 
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #000000;
}

/* Stiluri pentru burger menu */
.burger {
    margin-top: 10px;
    position: fixed;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-right: 15px;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #1e1d1d;
        position: absolute;
        top: 100px; /* Poziționează meniul sub bara de navigare */
        left: 50%; /* Centrare pe axa X */
        transform: translateX(-50%); /* Corectează pentru a centra meniul */
        width: 90%; /* Ajustează lățimea meniului */
        height: 500px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    
    nav ul.show {
        display: flex;
        flex-direction: column;
    }
    
    .burger {
        display: flex;
        position: absolute;
        top: 10px;
        right: 15px;
        height: 40px;
    }

    .container {
        margin-left: 5%;
        margin-top: 5px;
    }

    body {
        padding-top: 120px; /* Lasă mai mult spațiu sub navbar */
    }

    .patrulatere-list {
        flex-direction: column; /* Patrulaterele se aliniază vertical pe ecrane mici */
        padding-top: 120px; /* Adaugă spațiu între navbar și patrulatere */
        margin-top: 30px;
    }

    .patrulater {
        width: auto; /* Setăm lățimea automată pentru patrulatere */
        margin-right: 0;
        margin-top: 5%;
    }

    .patrulater:hover {
        transform: none;
    }
}

/* Ajustarea globală pentru a preveni suprapunerea */
body {
    padding-top: 80px; /* Compensează înălțimea navbarului fix */
}

@media (max-width: 1080px) {
    body {
        padding-top: 120px; /* Spațiu suplimentar la ecrane mici */
    }
}

.patrulatere-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin-top: 100px;
    padding-top: 100px; /* Asigură un spațiu între navbar și patrulatere */
}

.patrulater {
    width: 250px;
    height: 250px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 30px;
    display: block;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.patrulater:hover {
    transform: scale(1.1);
}

.patrulater h3 {
    text-align: center;
    margin-top: 20px;
}

.patrulater img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Adăugată tranziție pentru culoare */
}

.patrulater {
    width: 250px;
    height: 250px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 30px;
    display: block;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Tranizitie pentru umbră */
}

.patrulater:hover {
    transform: scale(1.05); /* Scăderea scalei la hover */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5); /* Umbra mai pronunțată la hover */
}

@media (max-width: 768px) {
    .burger {
        display: flex;
        position: absolute;
        top: 15px; /* Ajustare pentru a oferi mai mult spațiu */
        right: 20px;
        height: 50px; /* Dimensiune mărită pentru a fi mai ușor de utilizat */
    }

    .patrulater {
        width: 90%; /* Face patrulaterele mai largi pe ecrane mici */
        max-width: 250px; /* Maximizăm lățimea pentru a preveni expansiunea prea mare */
        margin: 20px auto; /* Centrăm patrulaterele pe ecrane mici */
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px; /* Asigurăm o lățime maximă a containerului */
    padding: 0 20px; /* Adăugăm un padding pentru a evita coliziunile cu marginile ecranului */
}
.footer-content {
    position: fixed; /* Fixează footer-ul */
    bottom: 0; /* Plasează-l în partea de jos a paginii */
    left: 0; /* Aliniere la stânga */
    width: 100%; /* Latimea de 100% */
    background-color: #000000; /* Culorează fundalul footer-ului */
    color: #fff; /* Culorează textul în alb */
    padding: 20px 0; /* Adaugă un spațiu de 20px sus și jos */
    text-align: center; /* Aliniază textul la centru */
    font-size: 16px; /* Mărimea fontului */
}


.footer-content p {
    margin: 0; /* Elimină marginile din jurul textului */
    font-size: inherit; /* Folosește mărimea fontului din părinte */
}

.footer-content p::after {
    content: ''; /* Adaugă un element de tip pseudo-element */
    display: block; /* Face elementul să fie un bloc */
    width: 100%; /* Latimea de 100% */
    height: 1px; /* Înălțime de 1 pixel */
    background-color: #fff; /* Culorează linia în alb */
    margin-top: 10px; /* Adaugă spațiu între text și linie */
}
form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
  }
  h2 {
    margin-bottom: 20px; /* Adaugă un spațiu între elementul h2 și formular */
    font-size: 24px; /* Mărimea fontului */
    color: #333; /* Culoarea textului */
    text-align: center; /* Aliniere la centru */
    text-transform: uppercase; /* Transformă textul în majuscule */
    letter-spacing: 1px; /* Spațierea între caractere */
}


.logare {
    z-index: 1; /* Asigură afișarea .logare peste lista din nav */
}
.logare h1{
    font-size: 36px;
    text-align: center;
}

.logare .btn{
    width: 100%;
    height: 45px;
    background-color: #6b9bcf;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #f4f4f4;
    font-weight: 600;

}

.logare .remeber-forgot{
    display: flex;
    justify-content:  space-between;
    font-size: 14.5px;
    margin: -15px 0 15;
}
.remeber-forgot{
    accent-color: #ffff;
    margin-right: 3px;
}

.logare .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: #007bff
  
}

.register-link p a:hover{
    text-decoration: underline;
}
.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
}

.info-section {
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 15px; /* Adaugă o margine de 15px între div-uri */
}

.info-section:last-child {
    margin-right: 0; /* Elimină marginea pentru ultimul div */
}

.info-section h2 {
    margin-bottom: 20px;
    color: #333;
}

.info-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-section li {
    margin-bottom: 10px;
    color: #666;
}

.info-section li strong {
    color: #333;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-media li:not(:last-child) {
    margin-right: 10px;
}

.social-media a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #0056b3;
}

